body {
	background-color: #222;
	margin: 0;
	font-size: 101%;
}

* {
	padding: 0;
	margin: 0;
	font-size: 1em;
}

#title {
	padding: 1.5em;
	padding-bottom: 0;
}

h1 {
	font-size: 2.5em;
	margin: 0.5em 0.5em 0.6em;
	font-family: Georgia, Garamond, serif;
	letter-spacing: 0.05em;
}

.page {
	width: 50em;
	background-color: white;
	border-right: 0.4em solid #F1C80D;
}

.section {
	padding: 1em 0.5em;
	margin: 0 1em;
	float: left;
	border: solid #CCC;
	border-width: 1px 0 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
}

.section.odd {
	background-color: #F0F0F0;
}

.section .label {
	width: 10em;
	float: left;
}

.section .content {
	width: 40em;
	float: right;
}

h3 {
	margin: 1.4em 0 0.4em;	
}

p {
	margin: 0 0 0.4em;
	line-height: 1.4em;
}

dt {
	font-weight: bold;	
}

dd {
	margin: 0.2em 1em;
}

ul {
	margin-left: 0.5em;
	list-style-type: square;
}

li {
	margin-left: 1em;
}

hr {
	clear: both;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	width: 48em;
}

.menu li {
	float: right;
}

.menu li a {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.8em;
	display: block;
	padding: 0.6em 1em;
	color: black;
	background-color: #E1E1E1;
	text-decoration: none;
}

.menu li a:hover {
	padding-top: 0.9em;
	background-color: #0c92f2;
	color: white;
	text-decoration: none;
}

