<?xml version="1.0" encoding="utf-8" ?>
<config>
	<production>
		 <version>1.0</version>
	  	 <debug>1</debug>
         <!--database>
                 <adapter>PDO_MYSQL</adapter>
                 <params>
                 	<host></host>
                 	<dbname></dbname>
                 	<username></username>
                	 <password></password>
                 </params>
         </database-->
		 <!--mail>
		 		<host>127.0.0.1</host>
				<from>zf@zensoluciones.com</from>
				<to>scramatte@zensoluciones.com</to>
				<subject></subject>
		 		<params>
					<auth>login</auth>
					<username>scramatte@zensoluciones.com</username>
					<password>vivanit</password>
					<port>25</port>
		 		</params>
		</mail-->
		<cache>
			<frontend>
				<lifetime>7200</lifetime>
				<automatic_serialization>true</automatic_serialization>		
			</frontend>
			<backend>
				<cache_dir>../tmp</cache_dir>
			</backend>
		</cache>
		<logger>
			<stream>
				<filename>../log/zf.log</filename>
			</stream>
			<database>
				<table>log</table>
				<params>
					<priority>priority</priority>
					<message>message</message>
				</params>
			</database>
			<mail>
				<from>zf@zensoluciones.com</from>
				<to>scramarre@zensoluciones.com</to>
				<subject>Log</subject>
			</mail>
			<syslog>

			</syslog>
		</logger>
		
		<l10n>
			<timezone>Europe/Madrid</timezone>
			<locale>es_ES</locale>
			<encoding>UTF-8</encoding>
		</l10n>
		<global>
			<ssl>false</ssl>
		</global>
	</production>
	<beta>
	
	</beta>
</config>